$main-color: #ED7400;
$secondary-color: #ff6200;
$black-color: #0D0D18;


.primary-button {
    
    color: black;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
    font-family: 'Fredoka', sans-serif;
    color: whitesmoke;
    min-width:300px;
    width: auto;
    border: none;
    padding: 25px 50px 25px 50px;
    background-color:$main-color;
    transition: background-color 0.8s ease;
    transition:color .8s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    
    }

.primary-button:hover{
    background-color: $secondary-color;
    color:$black-color;

}


.secondary-button{

    color: white;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
    font-family: 'Fredoka', sans-serif;
    color: whitesmoke;
    min-width:300px;
    width: auto;
    border: none;
    padding: 25px 50px 25px 50px;
    background-color:$black-color;
    transition: background-color 0.8s ease;
    transition:color .8s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}

