
$secondary-bg: #DADBD5;

.categories_container {
    background: $secondary-bg;
    align-items: center;
    padding: 5%;

    .categories_items_container {

        display: flex;
        gap: 50px;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2% 10% 2% 10%;
        box-sizing: border-box;
    }
}