.categories-container {
    margin: 5% 0 5% 0;

    .categories-items-container {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2% 10% 2% 10%;
        box-sizing: border-box;

    }

    h3.small-title {

        text-align: center;
        line-height: 25px;
        padding-left: 30%;
        padding-right: 30%;
        font-size: 24px;
        font-weight: 200;
        
    }

}