$dark-green: #194C47;
$dark: #0D0D18;
$main-orange: #ED7400;

.navbar_icons {
    background-color: $main-orange;
    display: flex;
    flex: 5%;

    .icons_list {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        padding-right: 50px;
        margin-left: 30px;
        width: 100%;

        .icon_list_item {
            display: inline;
            padding-left: 10px;
            padding-right: 10px;
            display: flex;
            align-items: center;
            width: 150px;

            .navbar_icon_image {
                color: $dark;
                width: 20px;
            }
        }
    }
}