$dark-green: #194c47;
$dark: #0d0d18;
$main-orange: #ed7400;

.navbar_icons {


  background-color: $main-orange;
  display: flex;
  flex: 20%;
  padding-right: 40px;

  .icons_list {
    display: flex;
    align-items: center;
    width: 100%;

    .icon_list_item {
        padding: 0px;
      display: flex;
      align-items: center;
      width: 100%;
      font-size: 18px;
      font-weight: 300;
      .navbar_icon_image {
        color: $dark;
        width: 20px;
      }
    }
  }
}
