
$light-orange: #EBD9C2;
$link-font-size: 18px;
$link-font-weight: 200;

.navbar_links {

    display: flex;
    flex-direction: row;
    flex: 90%;
    justify-content: end;
    align-items: center;
  
    .link_item {

        justify-content: center;
        align-items: center;
        display: inline;
        padding: 20px;

        a.link {

            font-size: $link-font-size;
            font-weight: $link-font-weight;
            text-decoration: none;
            color: $light-orange;

        }
    }
}