$main-color: #ed7400;
$secondary-color: #ff6200;
$black_tone: #000201;
$mid-tone: #194c47;
$light-orange: #ebd9c2;

.footer_container {
  padding: 2.5% 2%;
  background-color: $black_tone;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  box-sizing: border-box;

  .footer_items {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    flex: 20%;
    height: 100%;
    width: 100%;
  }

  img.logo-img {
    width: 70%;
  }

  .icons {
    justify-content: center;
    align-items: center;
    display: flex;

    .cards-icons {
      width: 150px;
    }

    flex: 30%;
  }
}
