.container {
    
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 10% 0 20%;
    align-items: center;
    width: 100%;
    background-image: url('../../assets/Cta.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;

    .title_box{
               
                padding-left:50%;
                text-align: right;
                

        .white_title{
            color: whitesmoke;
            font-size: 34px;
            font-size: 60px;
        }
    }
}