
$main-orange: #ED7400;
$secondary-orange: #ff6200;
$dark: #0D0D18;
$secondary-bg: #DADBD5;
$light-orange: #EBD9C2;
$green_tone: #194C47;
$link-font-size: 18px;
$link-font-weight: 200;
$main-color: #ED7400;
$secondary-color: #ff6200;
$black_tone: #000201;

*{
    line-height: 1em;
    font-family: 'Noto Sans Hebrew', sans-serif;
}



h1{
    font-size: 60px;
}

h2,h4,h3{
    margin: 15px 0 10px 0;
    line-height: 1.1em;
    font-family: 'Noto Sans Hebrew', sans-serif;
}

p{
    font-size: 18px;
    font-family: 'Noto Sans Hebrew', sans-serif;
    font-weight: 300;
    line-height: 25px;

}

.slide-box{

    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}