$main-color: #ED7400;
$secondary-color: #ff6200;
$black-color: #0D0D18;
$secondary-button: #194C47;


.slider_container {
    background-color: #ebe9e7;
    height: auto;
    padding: 5% 10%;

}


.slick-slide {
    margin: 0 20px;
    width: 345px;
    height: auto;
}

.slick-prev {

    color: black !important;
    left: 2% !important;
    z-index: 1;
    left: -3rem !important;
    top: 50% !important;

}

.slick-next {

    right: -3rem !important;
    z-index: 1;
    top: 50% !important;
}


.slick-prev:before,
.slick-next:before {
    color: black !important;
    font-size: 35px !important;

}