.slider-container{
    border: 2px solid red;
    margin-top: 5%;
    margin-bottom: 5%;
    gap: 90px;
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}